[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name=Blue Barcode
Exec=/usr/bin/invoker --type=d -s /opt/bluebarcodereader/bin/bluebarcodereader
Icon=/usr/share/icons/hicolor/80x80/apps/bluebarcodereader80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
